<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <style>
      html {
        height: 100%;
      }
      body {
        background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
      }
  </style>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>

<header>
    <nav>
        <a href="/"><img alt="Logo" th:src="@{./image/fuelLogo.png}" th:height="80" th:width="80"></a>
        <ul>
            <li><a href="/" style="color: white">Sign out</a></li>
        </ul>
    </nav>
    <h1 style="color: white">Account list:</h1>
    <br>
</header>

</body>
</html>